.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.imggrey {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .8s ease-in-out;

    }
.skills {
  width: 20%;
  padding: 10px;
display:inline-block;
}
.skillsM {
  width: 33%;
  padding: 10px;
display:inline-block;
}
    .imggrey:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
    }

    mobilearticle {
       width: 100%;
       position: relative;
       display: inline-block;
       overflow-x: wrap;
       text-align: left;
       align-items: center;
       justify-content: center;
       }

       mobilefeatureimage {
         text-align: center;
       width: 100%;
       display: inline-block;
       position: relative;
       float: left;
       min-height: 1px
         }
          mobilemiddlefeatures {
              text-align: center;
       width: 100%;
       display: block;
       position: relative;
       float: left;
       min-height: 1px
       }
       mobilerigghtfeatures {

           text-align: center;
     width: 100%;
     display: inline-block;
     position: relative;
     float: left;
     min-height: 1px
     }
